<div class="main-frame">
  <h1 class="title">ISBN番号検索</h1>
  <%= link_to '手動入力',new_recommend_book_path %>
  <form action="/recommend_books/new" method="get" >
    <div class="search-form">
      <input type="text" name="isbn[number]" placeholder="ISBN番号を入力して下さい">
    </div>
    <% if @judge == "out" %>
      <p class="text-danger">
        <%= @error_txt %>
      </p>
    <% end %>
    <button type="submit" class="btn submit-button">
      検索
    </button>
  </form>
</div>

<div class= "text-center mt-3">
  <%= link_to '戻る', recommend_books_path %>
</div>
