<h1>管理者ページ</h1>

<a href="/recommend_books" class="btn">おすすめの本登録</a>

<a href="/new_books" class="btn">新刊紹介登録</a>

<a href="/rankings" class="btn">ランキング本登録</a>

<a href="/requests" class="btn">リクエスト本リスト</a>

<a href="/dealings" class="btn">処分本登録</a>