<div class="header mb-5">
    <h1 class="mt-3">管理者ページ</h1>
    <div class="header-button">
        <button onclick="location.href='/home/main_top'">ホームに戻る</button>
    </div>
</div>
<div class=main>
    <div class="admin_button">
        <div class="admin-button"><button onclick="location.href='/recommend_books'">おすすめの本登録</button></div>
        <div class="admin-button"><button onclick="location.href='/new_books'">新刊紹介登録</button></div>
        <div class="admin-button"><button onclick="location.href='/rankings'">ランキング本登録</button></div>
        <div class="admin-button"><button onclick="location.href='/requests'">リクエスト本リスト</button></div>
        <div class="admin-button"><button onclick="location.href='/dealings'" class="text-danger">処分本登録</button></div>
    </div>
</div>
