<h1>管理者ページ</h1>

<div class="admin_button">
    <button onclick="location.href='/recommend_books'">おすすめの本登録</button>

    <button onclick="location.href='/new_books'">新刊紹介登録</button>

    <button onclick="location.href='/rankings'">ランキング本登録</button>

    <button onclick="location.href='/requests'">リクエスト本リスト</button>

    <button onclick="location.href='/dealings'">処分本登録</button>
</div>
