<h1>利用者トップページ</h1>

<% @random_new_books.each do |book| %>
<%= book.title %>
<br>
<% end %>

<div class="row p-5 ">
    <div class="col-12 col-sm-8 border">
        新刊紹介

        <div class="row">
            <button class="col text-center btn btn-info m-3">aaa</button>
            <button class="col text-center btn btn-info m-3">aaa</button>
        </div>
        
        <div>
            図書館司書おすすめの本
            <div class="row border">
                <div class="col">a</div>
                <div class="col">b</div>
                <div class="col">c</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-4 border">
        月間ランキング
        <div>a</div>
        <div>b</div>
        <div>c</div>
    </div>
</div>












