// Place all the styles related to the rankings_sub controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1{
    text-align: center;
}

.tag th {
    text-align: right;
 }

 tr,th {
    padding: 0;
 }

.aaa{
     background-color: transparent;
 }
