// Place all the styles related to the recommend_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.main-frame {
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-top: 200px;
  background-color: #a8e3eb;
  border-radius: 15px;
  padding: 30px;
}

.search-form input {
  padding: 16px 40px;
  margin: 20px;
}



.title{
  color: #314663;
}

.submit-button{
  background-color: #314663;
  color: white;
}

.submit-button:hover{
  background-color: #8ca4c5;
}
